<a href="https://colab.research.google.com/github/PrajnyaKulkarni/telecom_data_analysis/blob/main/Telecom_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Reading the data from the google drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
import numpy as np

Loading the csv file to do EDA

In [3]:
telecom_data = pd.read_csv('/content/drive/MyDrive/raw_telecom_data.csv')

In [4]:
telecom_data.columns

Index(['Customer ID', 'Month of Joining', 'Month', 'zip_code', 'Gender', 'Age',
       'Married', 'Dependents', 'Number of Dependents', 'Location ID',
       'Service ID', 'state', 'county', 'timezone', 'area_codes', 'country',
       'latitude', 'longitude', 'arpu', 'roam_ic', 'roam_og', 'loc_og_t2t',
       'loc_og_t2m', 'loc_og_t2f', 'loc_og_t2c', 'std_og_t2t', 'std_og_t2m',
       'std_og_t2f', 'std_og_t2c', 'isd_og', 'spl_og', 'og_others',
       'loc_ic_t2t', 'loc_ic_t2m', 'loc_ic_t2f', 'std_ic_t2t', 'std_ic_t2m',
       'std_ic_t2f', 'std_ic_t2o', 'spl_ic', 'isd_ic', 'ic_others',
       'total_rech_amt', 'total_rech_data', 'vol_4g', 'vol_5g', 'arpu_5g',
       'arpu_4g', 'night_pck_user', 'fb_user', 'aug_vbc_5g', 'Churn Value',
       'Referred a Friend', 'Number of Referrals', 'Phone Service',
       'Multiple Lines', 'Internet Service', 'Internet Type',
       'Streaming Data Consumption', 'Online Security', 'Online Backup',
       'Device Protection Plan', 'Premium Tech Support', 'Streaming TV',
       'Streaming Movies', 'Streaming Music', 'Unlimited Data',
       'Payment Method', 'Status ID', 'Satisfaction Score', 'Churn Category',
       'Churn Reason', 'Customer Status', 'offer'],
      dtype='object')

# **Data dictionary**


* **Before analysing the data, we need to have domain knowledge.data dictionary provides this knowledge.**
* **The data dictionary is very important as it contains information such as what is in the database, Which is the primary key,Which are the foreign keys**

| Column name    | Description|
| ----- | ----- |
| Customer ID    | Unique identifier for each customer |
| Month | Calendar Month- 1:12 |
| Month of Joining |    Calender Month -1:14, Month for which the data is captured|
| zip_code |    Zip Code|
|Gender |   Gender|
| Age | Age(Years)|
| Married | Marital Status |
|Dependents | Dependents - Binary |
| Number of Dependents |    Number of Dependents|
|Location ID |  Location ID|
|Service ID  |Service ID|
|state| State|
|county |County|
|timezone   |Timezone|
|area_codes|    Area Code|
|country    |Country|
|latitude|  Latitude|
|longitude  |Longitude|
|arpu|  Average revenue per user|
|roam_ic    |Roaming incoming calls in minutes|
|roam_og    |Roaming outgoing calls in minutes|
|loc_og_t2t|    Local outgoing calls within same network in minutes|
|loc_og_t2m |Local outgoing calls outside network in minutes(outside same + partner network)|
|loc_og_t2f|    Local outgoing calls with Partner network in minutes|
|loc_og_t2c |Local outgoing calls with Call Center in minutes|
|std_og_t2t|    STD outgoing calls within same network in minutes|
|std_og_t2m|    STD outgoing calls outside network in minutes(outside same + partner network)|
|std_og_t2f|    STD outgoing calls with Partner network in minutes|
|std_og_t2c |STD outgoing calls with Call Center in minutes|
|isd_og|    ISD Outgoing calls|
|spl_og |Special Outgoing calls|
|og_others| Other Outgoing Calls|
|loc_ic_t2t|    Local incoming calls within same network in minutes|
|loc_ic_t2m|    Local incoming calls outside network in minutes(outside same + partner network)|
|loc_ic_t2f |Local incoming calls with Partner network in minutes|
|std_ic_t2t |STD incoming calls within same network in minutes|
|std_ic_t2m |STD incoming calls outside network in minutes(outside same + partner network)|
|std_ic_t2f|    STD incoming calls with Partner network in minutes|
|std_ic_t2o|    STD incoming calls operators other networks in minutes|
|spl_ic|    Special Incoming calls in minutes|
|isd_ic|    ISD Incoming calls in minutes|
|ic_others| Other Incoming Calls|
|total_rech_amt|    Total Recharge Amount in Local Currency|
|total_rech_data|   Total Recharge Amount for Data in Local Currency
|vol_4g|    4G Internet Used in GB|
|vol_5g|    5G Internet used in GB|
|arpu_5g|   Average revenue per user over 5G network|
|arpu_4g|   Average revenue per user over 4G network|
|night_pck_user|    Is Night Pack User(Specific Scheme)|
|fb_user|   Social Networking scheme|
|aug_vbc_5g|    Volume Based cost for 5G network (outside the scheme paid based on extra usage)|
|offer| Offer Given to User|
|Referred a Friend| Referred a Friend : Binary|
|Number of Referrals|   Number of Referrals|
|Phone Service| Phone Service: Binary|
|Multiple Lines|    Multiple Lines for phone service: Binary|
|Internet Service|  Internet Service: Binary|
|Internet Type| Internet Type|
|Streaming Data Consumption|    Streaming Data Consumption|
|Online Security|   Online Security|
|Online Backup| Online Backup|
|Device Protection Plan|    Device Protection Plan|
|Premium Tech Support|  Premium Tech Support|
|Streaming TV|  Streaming TV|
|Streaming Movies|  Streaming Movies|
|Streaming Music|   Streaming Music|
|Unlimited Data|    Unlimited Data|
|Payment Method|    Payment Method|
|Status ID| Status ID|
|Satisfaction Score|    Satisfaction Score|
|Churn Category|    Churn Category|
|Churn Reason|  Churn Reason|
|Customer Status|   Customer Status|
|Churn Value|   Binary Churn Value

In [5]:
telecom_data.shape

(653753, 74)

This data contains 6,53,753 rows and 74 columns

In [13]:
pd.set_option('display.max_columns', None)
telecom_data.head()

,Customer ID,Month of Joining,Month,zip_code,Gender,Age,Married,Dependents,Number of Dependents,Location ID,Service ID,state,county,timezone,area_codes,country,latitude,longitude,arpu,roam_ic,roam_og,loc_og_t2t,loc_og_t2m,loc_og_t2f,loc_og_t2c,std_og_t2t,std_og_t2m,std_og_t2f,std_og_t2c,isd_og,spl_og,og_others,loc_ic_t2t,loc_ic_t2m,loc_ic_t2f,std_ic_t2t,std_ic_t2m,std_ic_t2f,std_ic_t2o,spl_ic,isd_ic,ic_others,total_rech_amt,total_rech_data,vol_4g,vol_5g,arpu_5g,arpu_4g,night_pck_user,fb_user,aug_vbc_5g,Churn Value,Referred a Friend,Number of Referrals,Phone Service,Multiple Lines,Internet Service,Internet Type,Streaming Data Consumption,Online Security,Online Backup,Device Protection Plan,Premium Tech Support,Streaming TV,Streaming Movies,Streaming Music,Unlimited Data,Payment Method,Status ID,Satisfaction Score,Churn Category,Churn Reason,Customer Status,offer
0,hthjctifkiudi0,1,1,71638,Female,36,No,No,0,jeavwsrtakgq0,bfbrnsqreveeuafgps0,AR,Chicot County,America/Chicago,870.0,US,33.52,-91.43,273.07,18.88,78.59,280.32,30.97,5.71,1.79,25.71,175.56,0.47,0.0,5.11,0.65,13.99,121.51,168.40,67.61,115.69,52.22,18.71,0.0,0.26,11.53,46.42,18,NaN,38.30,219.25,NaN,NaN,NaN,NaN,214.99,1,Yes,9.0,Yes,Yes,Yes,DSL,27,No,No,Yes,Yes,No,Yes,Yes,Yes,Credit Card,vvhwtmkbxtvsppd52013,3,Competitor,Competitor offered higher download speeds,Churned,A
1,uqdtniwvxqzeu1,6,6,72566,Male,1,No,No,0,qcvetdmalnkw1,tkqnsqflrdatnqapsh1,AR,Izard County,America/Chicago,870.0,US,36.22,-92.08,-329.96,69.46,72.08,255.73,148.80,30.00,7.61,308.29,265.20,10.82,0.0,1.23,905.51,1.69,212.93,155.19,29.04,9.15,38.89,0.84,0.0,0.05,32.51,25.53,1183,0,0.00,0.00,0.00,0.00,0.0,1.0,0.00,0,No,0.0,Yes,Yes,No,NaN,14,No,Yes,No,No,Yes,No,No,No,Bank Withdrawal,jucxaluihiluj82863,4,NaN,NaN,Stayed,F
2,uqdtniwvxqzeu1,6,7,72566,Male,1,No,No,0,qcvetdmalnkw1,tkqnsqflrdatnqapsh1,AR,Izard County,America/Chicago,870.0,US,36.22,-92.08,101.22,1012.60,115.26,52.95,NaN,103.28,15.71,244.20,15.19,NaN,NaN,13.14,455.15,115.63,121.80,699.39,44.49,83.59,914.70,13.25,0.0,0.06,13.05,5.62,295,7,14.83,967.95,-9.40,106.30,1.0,1.0,85.87,0,Yes,6.0,Yes,No,Yes,Cable,82,No,No,Yes,No,Yes,No,No,Yes,Credit Card,vjskkxphumfai57182,3,NaN,NaN,Stayed,NaN
3,uqdtniwvxqzeu1,6,8,72566,Male,1,No,No,0,qcvetdmalnkw1,tkqnsqflrdatnqapsh1,AR,Izard County,America/Chicago,870.0,US,36.22,-92.08,215.48,84.18,99.85,140.51,4006.99,280.86,6.33,346.14,103.15,183.53,0.0,33.88,495.60,14.01,658.96,195.02,144.11,50.18,2.35,623.94,0.0,0.07,69.13,10.62,354,1,264.90,268.11,-5.15,77.53,0.0,1.0,268.38,0,Yes,10.0,Yes,No,Yes,Fiber Optic,57,No,No,Yes,No,Yes,No,No,Yes,Wallet Balance,cdwbcrvylqca53109,4,NaN,NaN,Stayed,J
4,uqdtniwvxqzeu1,6,9,72566,Male,1,No,No,0,qcvetdmalnkw1,tkqnsqflrdatnqapsh1,AR,Izard County,America/Chicago,870.0,US,36.22,-92.08,636.55,0.00,0.00,0.00,0.00,45.00,0.00,0.00,0.00,45.00,0.0,0.00,0.00,8787978.00,138.85,201.92,19.89,15.91,23.78,16.01,0.0,0.03,64.35,36.18,0,NaN,52.78,370.59,NaN,NaN,NaN,NaN,399.84,0,Yes,1.0,No,No,Yes,Fiber Optic,38,No,No,No,No,No,Yes,No,Yes,Credit Card,whqrmeulitfj98550,1,NaN,NaN,Stayed,NaN

Warning: Total number of columns (74) exceeds max_columns (20) limiting to first (20) columns.

In [7]:
percent_missing = telecom_data.isnull().sum() * 100 / len(telecom_data)

In [8]:
missing_value_df = pd.DataFrame({'percent_missing': percent_missing})
missing_value_df

                            percent_missing
Customer ID                        0.000000
Month of Joining                   0.000000
Month                              0.000000
zip_code                           0.000000
Gender                             1.533301
Age                                0.000000
Married                            2.198996
Dependents                         3.766560
Number of Dependents               0.000000
Location ID                        0.000000
Service ID                         0.000000
state                              0.000000
county                             0.140420
timezone                           0.022486
area_codes                         6.066052
country                            0.000000
latitude                           0.000000
longitude                          0.000000
arpu                               0.000000
roam_ic                            4.409769
roam_og                            3.102395
loc_og_t2t                         4.235698
loc_og_t2m                         4.284340
loc_og_t2f                        10.289207
loc_og_t2c                         3.549812
std_og_t2t                         5.692823
std_og_t2m                         7.040427
std_og_t2f                         4.194245
std_og_t2c                        16.976595
isd_og                             6.354082
spl_og                            14.387085
og_others                          3.287327
loc_ic_t2t                         5.365941
loc_ic_t2m                         4.105220
loc_ic_t2f                         3.645261
std_ic_t2t                         8.769826
std_ic_t2m                         4.008548
std_ic_t2f                         2.841899
std_ic_t2o                        12.785869
spl_ic                             5.090149
isd_ic                            12.659980
ic_others                          6.203413
total_rech_amt                     0.000000
total_rech_data                   32.107539
vol_4g                             0.000000
vol_5g                             0.000000
arpu_5g                           32.253007
arpu_4g                           32.476945
night_pck_user                    57.070943
fb_user                           62.775085
aug_vbc_5g                         0.000000
Churn Value                        0.000000
Referred a Friend                  0.000000
Number of Referrals                0.059197
Phone Service                      0.000000
Multiple Lines                     0.000000
Internet Service                   0.000000
Internet Type                     33.243748
Streaming Data Consumption         0.000000
Online Security                    0.000000
Online Backup                      0.000000
Device Protection Plan             0.000000
Premium Tech Support               0.000000
Streaming TV                       0.000000
Streaming Movies                   0.000000
Streaming Music                    0.000000
Unlimited Data                     0.000000
Payment Method                     0.000000
Status ID                          0.000000
Satisfaction Score                 0.000000
Churn Category                    95.451493
Churn Reason                      95.446751
Customer Status                    0.000000
offer                             75.662215

In [9]:
telecom_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 653753 entries, 0 to 653752
Data columns (total 74 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Customer ID                 653753 non-null  object
 1   Month of Joining            653753 non-null  int64
 2   Month                       653753 non-null  int64
 3   zip_code                    653753 non-null  int64
 4   Gender                      643729 non-null  object
 5   Age                         653753 non-null  int64
 6   Married                     639377 non-null  object
 7   Dependents                  629129 non-null  object
 8   Number of Dependents        653753 non-null  int64
 9   Location ID                 653753 non-null  object
 10  Service ID                  653753 non-null  object
 11  state                       653753 non-null  object
 12  county                      652835 non-null  object
 13  timezone                    653606 non-null  object
 14  area_codes                  614096 non-null  float64
 15  country                     653753 non-null  object
 16  latitude                    653753 non-null  float64
 17  longitude                   653753 non-null  float64
 18  arpu                        653753 non-null  float64
 19  roam_ic                     624924 non-null  float64
 20  roam_og                     633471 non-null  float64
 21  loc_og_t2t                  626062 non-null  float64
 22  loc_og_t2m                  625744 non-null  float64
 23  loc_og_t2f                  586487 non-null  float64
 24  loc_og_t2c                  630546 non-null  float64
 25  std_og_t2t                  616536 non-null  float64
 26  std_og_t2m                  607726 non-null  float64
 27  std_og_t2f                  626333 non-null  float64
 28  std_og_t2c                  542768 non-null  float64
 29  isd_og                      612213 non-null  float64
 30  spl_og                      559697 non-null  float64
 31  og_others                   632262 non-null  float64
 32  loc_ic_t2t                  618673 non-null  float64
 33  loc_ic_t2m                  626915 non-null  float64
 34  loc_ic_t2f                  629922 non-null  float64
 35  std_ic_t2t                  596420 non-null  float64
 36  std_ic_t2m                  627547 non-null  float64
 37  std_ic_t2f                  635174 non-null  float64
 38  std_ic_t2o                  570165 non-null  float64
 39  spl_ic                      620476 non-null  float64
 40  isd_ic                      570988 non-null  float64
 41  ic_others                   613198 non-null  float64
 42  total_rech_amt              653753 non-null  object
 43  total_rech_data             443849 non-null  object
 44  vol_4g                      653753 non-null  float64
 45  vol_5g                      653753 non-null  float64
 46  arpu_5g                     442898 non-null  float64
 47  arpu_4g                     441434 non-null  float64
 48  night_pck_user              280650 non-null  float64
 49  fb_user                     243359 non-null  float64
 50  aug_vbc_5g                  653753 non-null  float64
 51  Churn Value                 653753 non-null  int64
 52  Referred a Friend           653753 non-null  object
 53  Number of Referrals         653366 non-null  float64
 54  Phone Service               653753 non-null  object
 55  Multiple Lines              653753 non-null  object
 56  Internet Service            653753 non-null  object
 57  Internet Type               436421 non-null  object
 58  Streaming Data Consumption  653753 non-null  int64
 59  Online Security             653753 non-null  object
 60  Online Backup               653753 non-null  object
 61  Device Protection Plan      653753 non-null  object
 62  Premium Tech Support        653753 non-null  object
 63  Streaming TV                653753 non-null  object
 64  Streaming Movies            653753 non-null  object
 65  Streaming Music             653753 non-null  object
 66  Unlimited Data              653753 non-null  object
 67  Payment Method              653753 non-null  object
 68  Status ID                   653753 non-null  object
 69  Satisfaction Score          653753 non-null  int64
 70  Churn Category              29736 non-null   object
 71  Churn Reason                29767 non-null   object
 72  Customer Status             653753 non-null  object
 73  offer                       159109 non-null  object
dtypes: float64(35), int64(8), object(31)
memory usage: 369.1+ MB

In [10]:
telecom_data.describe()

,Month of Joining,Month,zip_code,Age,Number of Dependents,area_codes,latitude,longitude,arpu,roam_ic,...,vol_5g,arpu_5g,arpu_4g,night_pck_user,fb_user,aug_vbc_5g,Churn Value,Number of Referrals,Streaming Data Consumption,Satisfaction Score
count,653753.000000,653753.000000,653753.000000,653753.000000,653753.000000,6.140960e+05,653753.000000,653753.000000,653753.000000,6.249240e+05,...,653753.000000,442898.000000,441434.000000,280650.000000,243359.000000,653753.000000,653753.000000,653366.000000,653753.000000,653753.000000
mean,5.823574,9.508209,90386.180128,65.357427,6.439772,1.499619e+20,37.652731,-114.392353,781.196280,3.695572e+04,...,7967.055649,8727.993973,8843.632835,0.217638,0.795796,6145.362554,0.045682,4.337965,27.574284,3.131712
std,2.855148,3.298742,8412.506653,538.575025,60.503752,5.647430e+21,4.687151,10.537540,1807.269437,5.633568e+05,...,36093.904463,43147.911887,43567.682071,0.412640,0.403120,35849.567900,0.208796,3.769501,26.349552,1.249076
min,1.000000,1.000000,71601.000000,1.000000,0.000000,2.060000e+02,31.790000,-124.630000,-2258.680000,0.000000e+00,...,0.000000,-16.700000,-10.470000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,3.000000,7.000000,88424.000000,27.000000,0.000000,5.010000e+02,34.140000,-121.650000,118.940000,1.249000e+01,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,2.000000,3.000000
50%,6.000000,10.000000,93032.000000,33.000000,0.000000,5.590000e+02,36.080000,-118.390000,348.540000,4.929000e+01,...,362.380000,0.000000,0.170000,0.000000,1.000000,118.030000,0.000000,4.000000,20.000000,3.000000
75%,8.000000,12.000000,95551.000000,43.000000,1.000000,8.700000e+02,38.600000,-108.800000,580.650000,1.118400e+02,...,964.720000,908.372500,789.000000,0.000000,1.000000,322.920000,0.000000,8.000000,49.000000,4.000000
max,12.000000,14.000000,99403.000000,9999.000000,699.000000,2.130000e+23,48.990000,-89.740000,9394.500000,8.787978e+06,...,254687.000000,254687.000000,254687.000000,1.000000,1.000000,254687.000000,1.000000,11.000000,85.000000,5.000000

In [11]:
telecom_data.duplicated().sum()

0

We can see here that there are no duplicates in the dataset